<footer class="ftco-footer ftco-section">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h4 class="ftco-heading-2">About BIR</h4>
          <p>
              This is a Business Directory App for Android and ios where you can find Best Indian Restaurants across the world.
          </p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate footerSocialIcon"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="ftco-animate footerSocialIcon"><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li class="ftco-animate footerSocialIcon"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h4 class="ftco-heading-2">Links</h4>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/login']"><span class="icon-long-arrow-right mr-2"></span>Login</a></li>
            <li><a [routerLink]="['/register']"><span class="icon-long-arrow-right mr-2"></span>Sign Up</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Link</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Link</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h4 class="ftco-heading-2">Services</h4>
          <ul class="list-unstyled">
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Service1</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Service2</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Service3</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Service4</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Service5</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h4 class="ftco-heading-2">Have a Question?</h4>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">106 & 107, 1st Floor, Jyoti Shikhar Tower,District Center, Janakpuri, New Delhi, Delhi 110058</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91-99101 30340</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">sanjay@deligence.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;<script type="document.write(newDate().getFullYear());"></script>All Rights Reserved|!|</p>
      </div>
    </div>
  </div>

</footer>
