/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

.theme-color{
  background: #cc264c!important;
}
.theme-btn{
  background: #b51b3e!important;
  color: #fff!important;
}
.theme-btn:hover{
  background:#8a0624!important;
}
.jumbotron {

    margin-bottom: 0;

  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

  }

  .jumbotron p:last-child {
    margin-bottom: 0;
  }

  .jumbotron-heading {
    font-weight: 300;
  }

  .jumbotron .container {
    max-width: 40rem;
  }

  .thumbnail img {
    width: 100;
  }

  .thumbnail {
    padding: 0;
  }

  .thumbnail .caption-full {
    padding: 9px;
  }

  footer {
    background:  #ececec ;
    background-image: url('assets/footer.png');

    /* background-size: 440px 140px; */
    margin: 20px 0px 0px 0px;
    padding: 20px 10px 0px 10px;
    position: relative;

  }

  footer:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  .ftco-heading-2 {
    color: #cc264c;
  }

  #map {
    height: 400px;
    width: 100%;
}

#Book {
    background-color: aqua;
    height: 100px;
    width: 100%;
}

.card-inner{
  margin-left:4rem;
}

.sidePannel {
  width: 100%;
  background: #efefef;
  margin: 0px 0px 20px 0px;
}
.subHeading{
  color:#fff;
  font-size:20px;
  background: #E74C3C;
  padding: 15px 10px;
}

.search-sec{
  padding: 2rem;
}
.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.search-sec{
    text-align:center;
}
@media (min-width: 992px){
  .search-sec{
      position: relative;
      top: -114px;

  }
}
.locationSelect{
  position:relative;
  padding-left:10px;
}
.locationIcon{
  position: absolute;
  top: 11px;
  left: 20px;
  color: #403d3d;
}
.locationSelect select{
  padding-left: 24px;
  width: 100%;
  border-radius: 4px;
  border: none;
}

.restaurantInput {
  border-radius: 4px!important;
  border: none!important;
}

.appLink {
  background-color: #ececec;
    /* border-bottom: #dcdcdc solid 1px; */
    box-shadow: 1px -1px 4px;
    padding: 5px 0px;
}

.homeIcon a{
  border: #cc264c solid 2px;
  background: #fff;
  border-radius: 6px;
  display: inline-block;
  margin: 5px 10px;
  padding: 5px;
}
.homeIcon a p{
  font-size: 14px;
    color: #cc264c;
}
.homeIcon a:hover{
  border: #000 2px solid;
}

.ftco-footer-widget ul{
  margin: 0px;
  padding: 0px;
  list-style: none;

}

.footerSocialIcon a{
  background: #000;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin: 0px 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
